
<h2>Education</h2> <br/>
<h4>School</h4>
<ul>
    <li>Name: @ViewBag.SchoolName</li>
    <li>Percentage: @ViewBag.SchoolPercentage</li>
</ul>
<h4>College</h4>
<ul>
    <li>Name: @ViewBag.CollegeName</li>
    <li>Stream: @ViewBag.Stream</li>
    <li>Percentage: @ViewBag.CollegePercentage</li>
</ul>



